[data-comment='normal'] span.token.comment {
	font-style: normal;
}

img[alt],
.menu,
.header p,
h2 a,
div.footer,
div.container > ul.list {
	display: none !important;
}

h2.op a {
	display: block;
}

body > div.container,
body > div.header,
#article_main,
#ss-reader-main {
	width: var(--container-width, '1200px');
}

span.token.comment {
	font-family: var(--novel-font-family) !important;
}

body {
	backdrop-filter: contrast(110%);
	--primary-color: black;
	--secondary-color: gray;
}

img {
	visibility: hidden;
}
form {
	color: var(--primary-color);
}
form fieldset {
	display: block;
	min-inline-size: min-content;
	margin-inline: 2px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-width: 2px;
	border-style: groove;
	border-color: gray;
	border-image: initial;
	padding-block: 0.35em 0.625em;
	padding-inline: 0.75em;
}

form fieldset > div {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

fieldset label {
	display: flex;
	width: fit-content;
	gap: 0.4rem;
	white-space: nowrap;
}

@media (orientation: portrait) {
	fieldset label {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 0.4rem;
		white-space: nowrap;
	}
}

label input {
	padding-left: 0.5rem;
	max-width: 75svw;
	border: 1px solid light-dark(#767676, #858585);
}

editable-list li {
	width: fit-content;
	height: fit-content;
	display: flex;
	align-items: baseline;
}

editable-list figure {
	margin: 0;
}

editable-list figcaption {
	backdrop-filter: contrast(120%);
	text-align: end;
}

editable-list .icon {
	border: none;
	cursor: pointer;
	font-size: 1.8rem;
}

editable-list textarea {
	border-radius: 0.75rem;
	padding-block: 0.25rem;
	padding-inline: 0.75rem;
	width: 95%;
}

editable-list ul {
	display: flex;
	max-width: 80svw;
	flex-wrap: wrap;
	justify-content: flex-start;
	column-gap: 1rem;
}

/* biqu33 */
#header,
#main .container-fluid,
#article_main .row,
body > [id][style],
body > [style*='display'],
body > [style*='position:fixed'] {
	display: none !important;
}
#article_main {
	background: transparent;
}

#article_main #page-links a,
#article_main #page-links span {
	padding: 1px 10px;
	width: 28px;
	height: 28px;
	display: inline-block;
	margin-right: 10px;
	background: #1a73e8;
	color: #fff !important;
	line-height: 25px;
	text-align: center;
	text-decoration: none !important;
}
#article_main #page-links span {
	background: #ccc;
}
#main a[role='button'] {
	color: #555555;
}
#main a[role='button']:hover {
	text-decoration: none;
	color: #fa2080;
}

/* ddxiaoshuo */
#ss-reader-main,
.info-title {
	border-width: 0px;
	border-bottom-width: 0px;
	background-color: transparent !important;
}
#ss-reader-main .info-commend,
#ss-reader-main .reader-hr,
#ss-reader-main .readSet,
#ss-reader-main .info-chapters-title,
#ss-reader-main h1 {
	display: none !important;
}

/* cuoceng */
body.read_style_1 .header,
body.read_style_1 #showDetail,
#readcontent .textbox.cf,
body.read_style_1 .textinfo {
	display: none !important;
}

/* clean page */
.article-root {
	justify-self: center;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	display: grid;
	width: var(--container-width, '1200px');
	color: var(--primary-color);
}
.article-root .breadcrumb,
.article-root .breadcrumb a {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	background-color: transparent;
	color: var(--secondary-color);
}
.article-root .breadcrumb li {
	list-style-type: none;
	text-wrap: nowrap;
}
.article-root .breadcrumb li[aria-hidden] {
	opacity: 0.5;
}
.article-root .breadcrumb a :hover {
	opacity: 0.6;
	text-decoration: underline;
}
.article-root .article-title {
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
}
.article-root .article-title code {
	background-color: transparent;
}

.article-root section.img-container {
	display: flex;
	flex-direction: column;
}

.article-root section.img-container img {
	visibility: initial;
}

@media (orientation: landscape) {
	.article-root section.img-container {
		align-items: center;
	}
	.article-root section.img-container img {
		max-width: 35rem;
	}
}

.article-root .article-nav {
	justify-self: center;
	background: transparent;
	opacity: 0.6;
}
.article-root .article-nav a {
	padding-inline: 1rem;
	background-color: transparent;
	color: var(--secondary-color);
}
body[hidden] {
	display: none !important;
}
